<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.palimpsest.worker-m5</string>
    <key>WorkingDirectory</key>
    <string>/Users/herren/dev/palimpsest</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/herren/dev/palimpsest/venv/bin/python</string>
        <string>-m</string>
        <string>palimpsest.worker</string>
        <string>--node</string>
        <string>m5</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/herren/palimpsest-worker-m5.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/herren/palimpsest-worker-m5.err.log</string>
</dict>
</plist>
